// Keep track of config versions
capturetype_config_version='0.2.2dev'

//TODO Backup all bed/snp files in the repo somewhere and use from central location instead of hard-coding paths.
// Profile specifying capture-specific parameters for packages of the '1240K' CaptureType.
params{
    // Keep track of config file versions used when processing
    config_profile_name = "${config_profile_name}, on 1240K sites"
    config_profile_description="${config_profile_description}\n - CaptureType.1240K.config: ${capturetype_config_version}"

    // Qualimap bedfile for on-target coverage calculation
    snpcapture_bed        = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'

    // Genotyping
    pileupcaller_bedfile  = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
    pileupcaller_snpfile  = '/mnt/archgen/public_data/Datashare_Boston_Jena_June2018.backup/1240K.snp'

    // Sex Determination
    sexdeterrmine_bedfile = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'

    // 1240k depth calculation
    anno_file             = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
}
