// This configuration file changes nf-core/eager defaults specified in the eva archgen profile
// that specifically apply to the execution of jobs, not their content. Therefore, it does not
// have a version number, as these parameters do not affect the reproducibility of the results.

// Increase number of concurrent jobs to 24
executor {
    queueSize = 24
}

// Change amount of resources provided to MarkD.
process {
    maxRetries = 2
    
    withName:markduplicates {
        memory = { task.attempt == 3 ? 16.GB : task.attempt == 2 ? 8.GB : 4.GB }
    }
    
    // More cores for bwa to reduce runtime
    withName:bwa {
        cpus = 8
    }
}
