// Keep track of config versions
minotaur_config_version='1.0.3'
// The following attributes are defined in the package config
//    minotaur_release
//    config_template_version
//    package_config_version
//    minotaur_config_base

// Default parameters for processing of data through Minotaur workflow.
params {
    // Keep track of config file versions used when processing
    config_profile_name = "Minotaur pipeline config"
    config_profile_description = "Minotaur.config: ${minotaur_config_version}"
    config_profile_url = 'https://github.com/poseidon-framework/poseidon-eager'

    // Load in institutional profiles from https://github.com/poseidon-framework/minotaur-institutional-configs
    custom_minotaur_config_version = 'main' // Default to main branch
    custom_minotaur_config_base    = "https://raw.githubusercontent.com/poseidon-framework/minotaur-institutional-configs/${params.custom_minotaur_config_version}"

    // Skip steps
    skip_preseq = true  // This data is published so won't be sequencing it more.

    // Convert input BAMs to FastQs for remapping
    run_convertinputbam = true

    // Adapter Removal
    clip_adapters_list = "https://raw.githubusercontent.com/poseidon-framework/poseidon-eager/refs/tags/${minotaur_release}/assets/adapter_list.txt"

    // Mapping
    bwaalnn = 0.01

    // BAM filtering
    run_bam_filtering = true            // Filter out unmapped reads, so barplots in MultiQC are not completely overtaken by unmapped reads.
    bam_unmapped_type = 'fastq'         // Keep unmapped reads as a separate fastq file. Preferred format for possible future pathogen screening.
    bam_mapping_quality_threshold = 30    // Keep MapQ 30+ (together with snpcapture_bed is needed for poseidon "coverage on target SNPs" field)
    // The above also means that reads that are mapped with MapQ below 30 are lost after filtering, not present in the fastq OR the filtered bam!

    // mtDNA to nuclear ratio
    run_mtnucratio = true
    mtnucratio_header = "MT"

    // Bam Trimming
    run_trim_bam = true

    // Damage estimation
    // Only available from version 2.5.0 onwards.
    damage_calculation_tool = 'mapdamage' // Damageprofiler has long runtime on huge files (which ENA files often are), so use mapdamage instead.
    mapdamage_downsample    = 1000000 // Use 1M reads for damage estimation

    // Double-stranded library clipping parameters
    bamutils_clip_double_stranded_half_udg_left  = 2   // Trim 2 bp of either side for dsDNA half-UDG libraries.
    bamutils_clip_double_stranded_half_udg_right = 2   // Trim 2 bp of either side for dsDNA half-UDG libraries.
    bamutils_clip_double_stranded_none_udg_left  = 7   // Trim 7 bp of either side for dsDNA non-UDG libraries.
    bamutils_clip_double_stranded_none_udg_right = 7   // Trim 7 bp of either side for dsDNA non-UDG libraries.

    // Single-stranded library clipping paramaters
    bamutils_clip_single_stranded_half_udg_left  = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_half_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_none_udg_left  = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_none_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.

    // Genotyping
    genotyping_source = 'trimmed'                       // Use trimmed bams for genotyping
    run_genotyping = true
    genotyping_tool = 'pileupcaller'
    pileupcaller_min_map_quality = 30
    pileupcaller_min_base_quality = 30

    //Sex determination
    run_sexdeterrmine = true

    // Nuclear contamination
    run_nuclear_contamination = true
    contamination_chrom_name = 'X'

    //1240k Coverage/Depth calculation
    run_bedtools_coverage = true

    // Custom MQC config file with increased max_table_rows value
    multiqc_config = "https://raw.githubusercontent.com/poseidon-framework/poseidon-eager/refs/tags/${minotaur_release}/conf/minotaur_multiqc_config.yaml"
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_minotaur_config_base}/minotaur_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load poseidon-framework/minotaur-institutional-configs profiles: ${params.custom_minotaur_config_base}/minotaur_custom.config")
}
