// Keep track of config versions
minotaur_config_version='0.2.1dev'

// Default parameters for processing of data through Minotaur workflow.
params{
    // Keep track of config file versions used when processing
    config_profile_name = "Minotaur pipeline config"
    config_profile_description = "Minotaur.config: ${minotaur_config_version}"
    config_profile_url = 'https://github.com/poseidon-framework/poseidon-eager'

    // Skip steps
    skip_preseq = true  // This data is published so won't be sequencing it more.

    // Mapping
    bwaalnn = 0.01

    // BAM filtering
    run_bam_filtering = true            // Filter out unmapped reads, so barplots in MultiQC are not completely overtaken by unmapped reads.
    bam_unmapped_type = 'fastq'         // Keep unmapped reads as a separate fastq file. Preferred format for possible future pathogen screening.
    bam_mapping_quality_threshold = 30    // Keep MapQ 30+ (together with snpcapture_bed is needed for poseidon "coverage on target SNPs" field)
    // The above also means that reads that are mapped with MapQ below 30 are lost after filtering, not present in the fastq OR the filtered bam!

    // mtDNA to nuclear ratio
    run_mtnucratio = true
    mtnucratio_header = "MT"

    // Bam Trimming
    run_trim_bam = true

    // Double-stranded library clipping parameters
    bamutils_clip_double_stranded_half_udg_left  = 2   // Trim 2 bp of either side for dsDNA half-UDG libraries.
    bamutils_clip_double_stranded_half_udg_right = 2   // Trim 2 bp of either side for dsDNA half-UDG libraries.
    bamutils_clip_double_stranded_none_udg_left  = 7   // Trim 7 bp of either side for dsDNA non-UDG libraries.
    bamutils_clip_double_stranded_none_udg_right = 7   // Trim 7 bp of either side for dsDNA non-UDG libraries.

    // Single-stranded library clipping paramaters
    bamutils_clip_single_stranded_half_udg_left  = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_half_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_none_udg_left  = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
    bamutils_clip_single_stranded_none_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.

    // Genotyping
    genotyping_source = 'trimmed'                       // Use trimmed bams for genotyping
    run_genotyping = true
    genotyping_tool = 'pileupcaller'
    pileupcaller_min_map_quality = 30
    pileupcaller_min_base_quality = 30

    //Sex determination
    run_sexdeterrmine = true

    // Nuclear contamination
    run_nuclear_contamination = true
    contamination_chrom_name = 'X'

    //1240k Coverage/Depth calculation
    run_bedtools_coverage = true

    // Custom MQC config file with increased max_table_rows value
    multiqc_config = "${minotaur_config_base}/minotaur_multiqc_config.yaml"
}

/* 
    A profile defining the local paths for reference genome and index on the EVA cluster.
        These values are only loaded if the profile is activated on runtime with `-profile`
        The values will overwrite any values in config files, but not those in other profiles
        or those provided directly on the command line. 
        For details on parameter inheritance across profiles and config files see: 
        https://nf-co.re/eager/2.4.6/usage#tutorial---what-are-profiles-and-how-to-use-them
*/
