profiles {
  // Profile for microscope eagering. Includes parameters for the runs.
  poseidon {
    // Increase number of concurrent jobs to 24
    executor {
      queueSize = 24
    }

    params{
      // Mapping reference and reference indexes
      fasta = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa'
      fasta_index = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai'
      bwa_index = '/mnt/archgen/Reference_Genomes/Human/hs37d5/'
      seq_dict = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.dict'
      
      // Mapping
      bwaalnn = 0.01
      
      // BAM filtering
      run_bam_filtering = true            // Filter out unmapped reads, so barplots in MultiQC are not completely overtaken by unmapped reads.
      bam_unmapped_type = 'fastq'         // Keep unmapped reads as a separate fastq file. Preferred format for possible future pathogen screening.
      bam_mapping_quality_threshold = 30    // Keep MapQ 30+ (together with snpcapture_bed is needed for poseidon "coverage on target SNPs" field)
      // The above also means that reads that are mapped with MapQ below 30 are lost after filtering, not present in the fastq OR the filtered bam!
      
      // Calculate on-target coverage and capture efficiency metrics
      snpcapture_bed = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
      
      // mtDNA to nuclear ratio
      run_mtnucratio = true
      mtnucratio_header = "MT"
      
      // Bam Trimming
      run_trim_bam = true
      bamutils_clip_half_udg_left = 2    // Trim 2 bp of either side for half-UDG libraries.
      bamutils_clip_half_udg_right = 2    // Trim 2 bp of either side for half-UDG libraries.
      bamutils_clip_none_udg_left = 0    // Set to 0 so ssDNA non-UDG do not get trimmed.  10/12/2020
      bamutils_clip_none_udg_right = 0    // Set to 0 so ssDNA non-UDG do not get trimmed. 10/12/2020
      
      // [18/01/2022] New bam trimming params for version 2.4.1 onwards
      bamutils_clip_double_stranded_half_udg_left = 2    // Trim 2 bp of either side for dsDNA half-UDG libraries.
      bamutils_clip_double_stranded_half_udg_right = 2   // Trim 2 bp of either side for dsDNA half-UDG libraries.
      bamutils_clip_double_stranded_none_udg_left = 7    // Trim 7 bp of either side for dsDNA non-UDG libraries.
      bamutils_clip_double_stranded_none_udg_right = 7   // Trim 7 bp of either side for dsDNA non-UDG libraries.

      bamutils_clip_single_stranded_half_udg_left = 0    // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
      bamutils_clip_single_stranded_half_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
      bamutils_clip_single_stranded_none_udg_left = 0    // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.
      bamutils_clip_single_stranded_none_udg_right = 0   // No trimming for ssDNA libraries, since --singelStrandMode removes damage artefacts.

      // Genotyping
      genotyping_source = 'trimmed'         // Use trimmed bams for genotyping
      run_genotyping = true
      genotyping_tool = 'pileupcaller'
      pileupcaller_min_map_quality = 30
      pileupcaller_min_base_quality = 30
      pileupcaller_bedfile = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
      pileupcaller_snpfile = '/mnt/archgen/public_data/Datashare_Boston_Jena_June2018.backup/1240K.snp'

      //Sex determination
      run_sexdeterrmine = true
      sexdeterrmine_bedfile = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'

      // Nuclear contamination
      run_nuclear_contamination = true
      contamination_chrom_name = 'X'

      //1240k Coverage/Depth calculation
      run_bedtools_coverage = true
      anno_file = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
    
      // Custom MQC config file with increased max_table_rows value
      multiqc_config = '/mnt/archgen/poseidon/poseidon-eager/conf/poseidon_multiqc_config.yaml'
    }
    // Change amount of resources provided to MarkD.
    process {
      maxRetries = 2
      
      withName:markduplicates {
        memory = { task.attempt == 3 ? 16.GB : task.attempt == 2 ? 8.GB : 4.GB }
      }
      
      // More cores for bwa to reduce runtime
      withName:bwa {
        cpus = 8
      }
    }
  }
}
