// Keep track of config versions
config_template_version='0.2.0dev'

// Load configuration profiles
includeConfig "../../conf/EVA_cluster.config"
includeConfig "../../conf/Poseidon.config"

// The following config file specifies BED files for on-target endogenous DNA calculation and mean coverage as well as pseudohaploid genotyping.
// TODO: Select the appropriate config for the CaptureType of the package.
includeConfig '../../conf/CaptureType_profiles/1240K.config'

params {
  // Keep track of config file versions used when processing
  config_profile_description = "${config_profile_description}\nconfig_template_version: ${config_template_version}"
  config_profile_contact     = "Thiseas C. Lamnidis (@TCLamnidis)"

  /* 
  TODO: If you need to change any of the default processing parameters for this package
  you can specify these parameters below.
  Any parameters not specified in any of the config files default to their nf-core/eager default values.
  
  For information on all available parameters and their default values see: 
    https://nf-co.re/eager/2.4.6/parameters
  
  You can see the default values for parameters within poseidon-eager at: 
    https://github.com/poseidon-framework/poseidon-eager/blob/main/conf/Poseidon.config
  */
}
